:root {
    --tip-color: rgb(58, 159, 49);
    --important-color: rgb(157 64 255);
    --warning-color: rgb(246, 255, 0);
    --note-color: rgb(0, 161, 255);
}

.markdown {
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;

    h1:first-child {
        margin-block-start: 0;
    }

    p:has(img) {
        display: flex;
        width: 100%;
        img {
            margin-left: 10px;
            margin-right: 10px;
        }
        justify-content: center;
    }

    @media (max-width: 729px) {
        p:has(img.phone:not(:only-child)) {
            flex-direction: column;

            img {
                margin-bottom: 10px;
            }

            img:last-child {
                margin-bottom: 0;
            }
        }
    }

    blockquote {
        border-left: 5px solid rgb(99, 99, 99);
        padding-left: 20px;
        margin-left: 0;

        > p.important:first-child, p.warning:first-child, p.tip:first-child, p.note:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
        }
    }

    blockquote:has(p.tip:first-child) {
        border-left-color: var(--tip-color);

        p.tip:first-child {
            color: var(--tip-color);
        }
    }

    blockquote:has(p.important:first-child) {
        border-left-color: var(--important-color);

        p.important:first-child {
            color: var(--important-color);
        }
    }

    blockquote:has(p.warning:first-child) {
        border-left-color: var(--warning-color);

        p.warning:first-child {
            color: var(--warning-color);
        }
    }

    blockquote:has(p.note:first-child) {
        border-left-color: var(--note-color);

        p.note:first-child {
            color: var(--note-color);
        }
    }
}